@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    margin: 0;
    padding: 0;
    --background-color: #FAFAF8;
    --primary-color: #A3D9A5;
    --secondary-color: #F7C8C8;
    --accent-color: #FFE699;
    --text-color: #2E2E2E;
    font-size: 250%;
    font-family: 'Inter' sans-serif;
}

:root{
    background-color: var(--background-color);
    text-align: center;
    color: var(--text-color);
}

.text-sm {
    font-size: 0.875rem;
}

.text-md {
    font-size: 1rem;
}

.text-lg {
    font-size: 1.125rem;
}

.text-xl {
    font-size: 1.25rem;
}

.text-2xl {
    font-size: 1.5rem;
}

.text-3xl {
    font-size: 1.875rem;
}

.text-4xl {
    font-size: 2.25rem;
}

.ln-height-sm {
    line-height: 1.3;
}

.ln-height-md {
    line-height: 1.5;
}

.font-wg-nm {
    font-weight: 400;
}

.font-wg-bold {
    font-weight: 700;
}

.btn {
    background: var(--color-primary);
    color: var(--color-text);
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    box-shadow: var(--shadow-soft);
    transition: 0.2s ease;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background: var(--color-secondary);
    transform: translateY(-2px);
    box-shadow: var(--shadow-medium);
}

.card {
    background: var(--color-surface);
    border-radius: 1.5rem;
    padding: 1rem;
    box-shadow: var(--shadow-soft);
}


.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
}

.grid-center {
    place-items: center;
}

.p-2 {
    padding: 0.5rem;
}

.p-4 {
    padding: 1rem;
}

.m-2 {
    margin: 0.5rem;
}

.m-4 {
    margin: 1rem;
}